{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<!-- My own new code -->
<section class="description-text">
  
  <style>
h1 {text-align: center; margin: auto}
p {text-align: center; width: 80%; margin: auto}
div {text-align: center;}
</style>
<br>
   <div>
     <br>
     <div>
       <div>
         <h1>
     </h1>
     <p>I believe film is a powerful way to communicate concepts to a broad audience. I've been creating films for 6 years, mostly documentaries about social issues, but also creative and corporate films. I'm the executive producer my school's media program, Blair Network Communications, and I was formerly the producer of the documentary film program SilverLens. In this student-led class, I manage 70 students as we create the acclaimed morning news show InfoFlow, film documentaries within SilverLens, and create podcasts and other multimedia for the school and county. My passion for film is intrinsically linked to the accessibility of film as a medium of communication, which is why we've pioneered Spanish-language content in the film program.</p>
  </div>
     </div>
       </div>
       
</section>



<!-- Portfolio Start -->
<section class="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-menu">
            <div class="btn-group btn-group-toggle justify-content-center" data-toggle="buttons">
              <label class="btn btn-sm btn-primary active">
                <input type="radio" name="shuffle-filter" value="all" checked="checked">{{ i18n "all" }}
              </label>
              {{ $categories := slice }}
              {{ range .Data.Pages }}
              {{ $categories = $categories | append .Params.Category }}
              {{ end }}
              {{ range ( $categories | uniq ) }}
              <label class="btn btn-sm btn-primary">
                <input type="radio" name="shuffle-filter" value="{{ . | urlize }}">{{ . | humanize }}
              </label>
              {{ end }}
            </div>
          </div>
          <div class="row shuffle-wrapper">
            {{ range .Data.Pages }}
            <div class="col-md-4 portfolio-item shuffle-item" data-groups="[&quot;{{ .Params.Category | urlize }}&quot;]">
              <img src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
              <div class="portfolio-hover">
                <div class="portfolio-content">
                  <a href="{{ .Params.Image | relURL }}" class="portfolio-popup"><i class="icon ion-search"></i></a>
                  <a class="h3" href="{{ .Permalink }}">{{ .Title }}</a>
                  <p>{{ .Params.Description }}</p>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}